//mixin för att sizea bakgrunden med en variabel så man kan ändra bild
@mixin backgroundImage ($filepath) {
    background-image: url("/library-sleepyBiden/images#{$filepath}");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
}
//style för Titeln
@mixin titleStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    font-size: 8vh;
    font-size: 4vw;
    background-color: $backgroundColorTextBox;
    color: $textColor;
}
//mixin för padding för textboxes
@mixin wrapperpadding {
    padding-top: 67vh;
    padding-left: 2vw;
}

//mixin för alla text boxar nere i vänstra hörnet
@mixin textBoxStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $textColor;
    background-color: $backgroundColorTextBox;
    height: 30vh;
    width: 35vw;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
//mixin för titel i text boxarna
@mixin textBoxTitleStyle {
    font-size: 6vh;
    font-size: 3vw;
    padding-bottom: 2vh;
}
//mixin för content i textboxes
@mixin textBoxContentStyle {
    font-size: 3vh;
    font-size: 1.5vw;
}

// General mixins for hermans satisfaction

@mixin textColor ($color) {
    color: $color;
}

@mixin backgroundColor ($color) {
    background-color: $color;
}

@mixin fontSize ($size) {
    font-size: $size;
} 

@mixin fontWeight ($Weight) {
    font-weight: $Weight;
} 

@mixin flexCenterAndDirection ($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
} 

@mixin fontWeight ($Weight) {
    font-weight: $Weight;
} 

@mixin curvedCorners ($bender) {
    border-radius: $bender;
}